body {
  background-color: #8ac19e;
  font-family: sans-serif;
  margin: auto;
  max-width: 70ch;
  color: #3b5544;
}

a {
  color: #4d7c0f;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #4d7c0f;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  margin: 3rem auto; 
}

main {
  padding-top: 2rem;
}