body {
  background-color: #8ac19e;
  font-family: 'Inter', system-ui, sans-serif;
  margin: 3rem auto;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  max-width: 70ch;
  color: #3b5544;
}

h1, h2, h3 {
  color: #2a4a38;
  margin-top: 2rem;
}

a {
  color: #4d7c0f;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #4d7c0f;
  position: relative;
}

a:hover {
  text-decoration: underline;
}

// a::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: -2px;
//   width: 100%;
//   height: 2px;
//   background-color: #3a7a27;
//   transition: transform 0.3s ease;
//   transform: scaleX(0);
//   transform-origin: left;
// }

// a:hover::after {
//   transform: scaleX(1);
// }

main {
  padding-top: 2rem;
}

ul, ol {
  text-align: left;
  display: inline-block;
  padding-left: 1.2em;
  margin: 1em auto;
}