<html>
{% include head.html %}
  <body>
    {{ content }}

    {% if page.tags %}
      <p><strong>Tags:</strong>
        {% for tag in page.tags %}
          <span style="background:#dbf7e5; padding:2px 6px; margin-right:4px; border-radius:4px;">{{ tag }}</span>
        {% endfor %}
      </p>
    {% endif %}

      <a href="{{ '/' | relative_url }}" style="
      display: inline-block;
      padding: 8px 16px;
      background-color: #007acc;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      margin-top: 20px;
    ">Home</a>

  </body>
</html>